@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@font-face {
    font-family: 'Saved by Zero';
    src: url('./assets/fonts/saved_by_zero_font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
}

@layer utilities {

  .padding {
    @apply sm:py-12 py-6;
  }

  .neon-white {
    color: #ffffff;
    text-shadow: 0 0 4px #ffffff, 0 0 7px #ffffff;
  }
    .neon-red {
    color: #ff0000;
    text-shadow: 0 0 4px #ff0000, 0 0 7px #ff0000;
  }
}

